{
    "management_port": 50002,
    "command_prefix": "ssh -o ConnectTimeout=3 cmscluster.snu.ac.kr -- ",
    "supervised": true,
    "ping": {
        "count": 1,
        "deadline": 3,
        "loop_period": 10,
        "num_trials_before_down": 3,
        "reboot_wait": 300
    },
    "slack": {
        "token": "??????????????",
        "channel": "D8W9MMTHQ",
        "verification_token": "????????????????",
        "port": 50000
    },
    "host": [
        {
            "id": "Elsabot Gateway",
            "ping_host": "cmscluster.snu.ac.kr",
            "ipmi_host": null,
            "ipmi_password": null
        },
        {
            "id": "Elsa-04",
            "ping_host": "147.46.216.181",
            "ipmi_host": "147.46.15.53",
            "ipmi_password": "?????????????"
        },
        {
            "id": "Elsa-05",
            "ping_host": "147.46.216.165",
            "ipmi_host": "147.46.15.54",
            "ipmi_password": "??????????????????"
        },
        {
            "id": "Elsa-06",
            "ping_host": "147.46.216.202",
            "ipmi_host": "147.46.15.55",
            "ipmi_password": "?????????"
        }
    ]
}
